body{
    background-color: rgba(95, 144, 235, 0.466);
    color: rgb(63, 63, 63);
}

h1{
    color: rgb(2, 137, 255);
}

h2{
    color: rgba(247, 77, 77, 0.74);
}

nav{
    background-color: rgba(206, 74, 74, 0.384);
}

nav a{
    color: azure;
}

section{
    background-color: bisque;
    padding: 20px;
    margin: 20px;
}